# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [16]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest
from scipy import stats
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1

This is a placeholder to make the AI corrector be able to find the correct exercise for feedback

In [5]:
# Run this code:
salaries = pd.read_csv('/Users/miguelmoreno/Desktop/IRONHACK/week_6_day_2/lab-hypothesis-testing/data/Current_Employee_Names__Salaries__and_Position_Titles.csv')
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [6]:
# Your code here
#WE CHECK AGAIN IF THERE IS NULL VALUES IN THE COLUMNS FOR OUR ANALYSIS
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

In [14]:
#WE WILL REMOVE THE NULL VALUES FROM THE COLUMN 'Hourly Rate' 
clean_data = salaries['Hourly Rate'].dropna()

n = len(clean_data)
mean = np.mean(clean_data)
sem = stats.sem(clean_data)
df = n-1
confidence_level = 0.95

confidence_interval = stats.t.interval(confidence_level, df, loc=mean, scale=sem)

print(mean)
print(confidence_interval)

32.78855771628024
(32.52345834488425, 33.05365708767623)

In [18]:
#HO = THE TRUE MEAN WAGE IS $30HR
#H1 = THE TRUE MEAN WAGE IS NOT $30HR


#PERFORM ONE-SAMPLE T-TEST
t_stat, p_value = ttest_1samp(clean_data, popmean=30)

print("Mean hourly wage:", round(mean, 2))
print("95% Confidence Interval:", confidence_interval)
print("t-statistic:", t_stat)
print("p-value:", p_value)

#BECAUSE P-VALUE IS LOWER THAN 0.05 THE NULL HYPOTHESIS IS REJECTED -> HR WAGE IS SIGNIFICANT DIFFERENT THAN $30HR

Mean hourly wage: 32.79
95% Confidence Interval: (32.52345834488425, 33.05365708767623)
t-statistic: 20.6198057854942
p-value: 4.3230240486229894e-92

# Challenge 3

This is a placeholder to make the AI corrector be able to find the correct exercise for feedback

# Challenge 4 -  Hypothesis Tests of Proportions

## This challenge is OPTIONAL

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here